<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
<h1>Введите ваш запрос</h1>
<form action="/generate/image" method="post">
    <label for="promptImage">Prompt:</label>
    <input type="text" id="promptImage" name="prompt" required>
    <button type="submit">Создать изображения</button>
</form>

<form action="/chat" method="post">
    <label for="prompt">Prompt:</label>
    <input type="text" id="prompt" name="prompt" required>
    <button type="submit">Отправить</button>
</form>
</body>
</html>